@import "tailwindcss";



html, 
body,
:root,
.app{
  height: 100%;
  width: 100%;
  @apply text-sm
}
/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

html {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in Edge */
}
